/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body{
    background: hsl(236, 33%, 92%);
    font-family: "Josefin Sans", sans-serif;
}
ul{
    list-style: none;
    padding:0;
}
a{
    text-decoration: none;
    color: hsl(235, 21%, 11%);
}
a:hover{
    color: hsl(220, 98%, 61%);
}
.theme-box{
  cursor: pointer;
}
header{
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    padding:0 20px;
}
.heading__container{
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 30px;
}
header h1{
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
}   
li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}
ul{
    margin: 15px 0 15px;
}
ul li.items:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul li.items:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
li.items p{
    flex-grow:2;
}
li.items input[type="checkbox"]:checked{
    content: "";
    background: #57DDFF;
    background: linear-gradient(140deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
}
.strike{
    text-decoration: line-through;
}
li.items,
div.items{
    padding:15px;
    color: #fff;
    border-radius: 0;
    margin:0 15px 0;
}
main,
footer{
    width:100%;
    margin: 0 auto;
}
.footer a{
    color: hsl(234, 39%, 85%);
}
input[type='text']{
    height:40px;
    border:0;
    width:100%;
    border-radius: 5px;
    padding: 0 15px;
    margin:0 15px;
    background-color: hsl(235, 24%, 19%);
}
.footer{
    background: hsl(235, 24%, 19%);
    border-radius: 5px;
    margin:20px 15px 0;
    display: flex;
    justify-content: space-evenly;
}

li.items input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50px;
    padding:10px;
    border:1px solid lightgrey;
    margin-right: 10px;
    cursor: pointer;
}
button{
    background: none;
    border:0;
}
.form--input{
    margin-top:-80px;
    display: flex;
    justify-content: center;
}
@media (min-width: 375px) {
    header{
       max-width: 1440px;
    }
    .heading__container{
        width: 375px;
        padding:60px 10px 15px;
    }
    main,
    footer{
        width: 375px;
    }
}