*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: hsl(235, 21%, 11%);
}
