
body{
    background:hsl(235, 21%, 11%);
}
header{
    background-image: url('../images/bg-mobile-dark.jpg');
}
input[type='text']{
    color: hsl(234, 39%, 85%);
}
li.items{
    background: hsl(235, 21%, 11%);;
}
/* Media Queries */
@media (min-width: 375px) {
    header{
        background-image: url('../images/bg-desktop-dark.jpg');
    }
}