@import url(./variables.css);
body{
    background:var(--Very-Dark-Blue);
}
header{
    background-image: url('../images/bg-mobile-dark.jpg');
}
input[type='text']{
    color: var(--Light-Grayish-Blue);
}
li.items{
    background: var(--Very-Dark-Blue);
}
/* Media Queries */
@media (min-width: 375px) {
    header{
        background-image: url('../images/bg-desktop-dark.jpg');
    }
}