@import url(./variables.css);
header{
    background-image: url('../images/bg-mobile-light.jpg');
}
input[type='text']{
    background-color: #fff;
}
li.items{
    background: #fff;
    color:#000;
}
.footer{
    background:#fff;
}
.footer a,
.footer .listOfItems{
    color:#000
}
/* Media Queries */
@media (min-width: 375px) {
    header{
        background-image: url('../images/bg-desktop-light.jpg');
    }
}