.container{
    display: grid;
    justify-content: center;
}
header{
    background-image: url('../images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    width: 375px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    display: flex;
    align-items: center;
}
main,
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form--input{
    margin-top:-50px;
    display: flex;
    justify-content: center;
}
input[type='text']{
    height:30px;
    border:0;
    border-radius: 2px;
    width:100%;
}
.footer{
    flex-direction: unset;
}