
body{
    background: hsl(236, 33%, 92%);
}
.container{
    display: grid;
    justify-content: center;
}
header{
    background-image: url('../images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}
header h1{
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
}
li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}
ul li.items:first-child{
    margin:15px 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul li.items:last-child{
    margin:0px 15px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
li.items p{
    flex-grow:2;
}
li.items input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50px;
    padding:10px;
    border:1px solid lightgrey;
    margin-right: 10px;
}
li.items input[type="checkbox"]:checked{
    content: "";
    background: #57DDFF;
    background: linear-gradient(140deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
}
li.items,
div.items{
    display: flex;
    padding:15px;
    background-color: #fff;
    border-radius: 0;
}
li.items{
    margin:0 15px 0;
}
div.items{
    justify-content: space-between;
    margin:10px 15px;
}
main,
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    background: none;
    border:0;
}
.form--input{
    margin-top:-50px;
    display: flex;
    justify-content: center;
}
input[type='text']{
    height:40px;
    border:0;
    width:100%;
    border-radius: 5px;
    padding: 0 15px;
    margin:0 15px;
}
/* footer */
.footer{
    flex-direction: unset;
    justify-content: space-evenly;
    background: #fff;
    border-radius: 5px;
    padding: 15px 0;
    margin:0 15px;
}
.footer button{
    background: hsl(0, 0%, 98%); 
}